In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('adult.data.csv')

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [7]:
df['race'].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [16]:
# How many people of each race are represented in this dataset?

number_of_people_in_each_race = df['race'].value_counts()

In [18]:
print(number_of_people_in_each_race)
print(number_of_people_in_each_race.dtype)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
int64

In [28]:
(df['sex'] =='Male').value_counts()

True     21790
False    10771
Name: sex, dtype: int64

In [57]:
total_age_of_male = df['age'].where(df['sex']=='Male').sum()

In [58]:
total_age_of_male

859257.0

In [36]:
number_of_male = (df['sex']=='Male').value_counts()[1]

In [37]:
number_of_male

21790

In [68]:
avg_age_of_male = round(total_age_of_male /number_of_male, 2)

In [62]:
avg_age_of_male

39.43

In [42]:
(df['sex']=="Male").where(df['age']<18).value_counts()

1.0    209
0.0    186
Name: sex, dtype: int64

In [56]:
((df['age'] >= 18).where(df['sex'] =='Male').value_counts()).sum()

21790

In [64]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [66]:
df['education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [75]:
number_of_bachelor = (df['education'] == 'Bachelors').value_counts()[1]

In [77]:
number_of_bachelor

5355

In [78]:
total_educated_peoples = df['education'].value_counts().sum()

In [81]:
bachelor_percentage = round((number_of_bachelor/total_educated_peoples) * 100, 2)

In [82]:
bachelor_percentage

16.45

In [89]:
higher_education = df[df['education'].isin(['Bachelors', 'Masters','Doctorate'])]

In [93]:
lower_education = df[~df['education'].isin(['Bachelors', 'Masters','Doctorate'])]

In [91]:
higher_education_rich = round(
        len(higher_education[higher_education["salary"] == ">50K"]) / len(higher_education) * 100, 1)

In [92]:
higher_education_rich

46.5

In [94]:
lower_education_rich = round(len(lower_education[lower_education["salary"]==">50K"]) / len(lower_education) * 100, 1)

In [96]:
lower_education_rich

17.4

In [99]:
min_work_hours = df['hours-per-week'].min()

In [102]:
(df['hours-per-week'] == min_work_hours).value_counts()[1]

20

In [104]:
len(df[df['hours-per-week'] == min_work_hours])

20

In [112]:
(df['hours-per-week'] == min_work_hours).value_counts()[1] & (df['salary'] == '>50K').value_counts()

False    16
True      0
Name: salary, dtype: int64

In [111]:
len(df[(df['hours-per-week'] == min_work_hours) & (df['salary'] == '>50K')])

2

In [113]:
num_min_workers = (df['hours-per-week'] == min_work_hours).value_counts()[1]

In [114]:
round(len(df[(df['hours-per-week'] == min_work_hours) & (df['salary'] == '>50K')]) / num_min_workers * 100, 1)

10.0

In [128]:
highest_earning_country = (df.loc[df['salary'] == '>50K', 'native-country'].value_counts()/ df['native-country'].value_counts()).fillna(0).sort_values(ascending=False).index[0]

In [129]:
highest_earning_country

'Iran'

In [132]:
highest_earning_country_percentage = round((df.loc[df['salary'] == '>50K', 'native-country'].value_counts()/ df['native-country'].value_counts()).fillna(0).sort_values(ascending=False).iloc[0] * 100, 2)

In [133]:
highest_earning_country_percentage

41.86

In [134]:
top_occupation_india = df[(df['salary'] == '>50K') & (df['native-country'] == 'India')]['occupation'].value_counts().index[0]

In [135]:
top_occupation_india

'Prof-specialty'